<div class="nav-container">
    <nav class="absolute transparent">
        <div class="nav-bar">
            <div class="module left">
                <a href="/">
                    <img src="assets/images/logo_copy_light.png" alt="ScanHappy" class="logo logo-light"/>
                    <img src="assets/images/logo_copy_dark.png" alt="ScanHappy" class="logo logo-dark"/>
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        {{#if session.isAuthenticated}}
                        <li>
                            <a href="" {{action 'signOut'}}>Sign Out</a>
                        </li>
                        {{else}}
                        <li>
                            {{#link-to "sign-up"}}Sign Up{{/link-to}}                         
                        </li>
                        <li>
                            {{#link-to "login"}}Login{{/link-to}}
                        </li>                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>